*{
    margin 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial, Helvetica, sans-serif';

}
body{

    background-image: url(sawon1.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
}

header{

    width: 100%;
    height: 100px;
    box-shadow:  0px 0px 10px #000;
   display: flex;
   justify-content:space-between;
   align-items: center;
   position: fixed;
   z-index: 999;
   background-color: rgba(255, 255, 255, 0.1);
   backdrop-filter:blur(5px);
}
header ul{
   
    display: flex;
    flex: 2;
    justify-content: space-evenly;
  
}

header ul li{
 
    list-style-type: none;

}
header ul li a{

    text-decoration: none;
    margin-left: 10px;
    color: white;
    text-transform: uppercase;
    
    
}
header ul li a:hover{

    border-bottom: 2px solid cadetblue;
    
}

header .search-box{

    flex:1;
    position: relative;
}

.search-box input{

    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: #f2f2f2;
    text-align: center;
    color: gray;
    font-size: 16px;
    border-radius: 30px;
   


}
#chk1{
    display: none;
}

.logo {

    color: white;
    font-weight: 600;
    text-transform: uppercase;
    flex: 1;
    margin-left: 50px;
    
    
}


header button{

    width: 35px;
    height: 35px;
    position: absolute;
    border-radius: 30px;
    background-color: green;
    border: none;
    outline: none;
    color: white;
    font-weight: 600;
    right: 2px;
    top: 3px;
    cursor: pointer;
    transform: scale(0.9);
}

header .menu{

   font-size: 2.3rem;
   color: #ddd;
   display: none;
}

@media screen and (max-width:900px){
    .search-box button{

        position: absolute;
    }
   
    header ul{

        position: fixed ;
        top: 100px;
        right: -100%;
        background-color: rgba(255,255, 255, 0.3);
        flex-direction: column;
        height: calc(100vh - 100px);
        width: 50%;
         text-align: center;
         transform: right 0.5s linear;
        
       
    }
    header .menu{
        display: block;
        width: 100px;
        text-align: center;
    }

    #chk1:checked ~ ul{

        right: 0;
    }
}



